img{
    height: 50%;
    width: 80%;
    margin-top: 15%;

}
.title{
    font-family: BilboSwashCaps;
    font-size: 60px;
    margin-top: 3%;
    display: inline-block;
    position: absolute;
}
.park{
    font-family: Montaga-Regular;
    font-size: 25px;
    display: flex;
}
.info{
    font-family: Montaga-Regular;
    font-size: 15px;
    display: flex;
}
p{
    font-family: Montaga-Regular;
    font-size: 15px;
    color: black;
    margin-left: 3%;
}
.open{
    font-family: Montaga-Regular;
    font-size: 15px;
    color: #2dd36f;
}