ion-title{
    font-family: CormorantSC-SemiBold;
    font-size: 25px;
}
h1{
    font-family: Acme-Regular;
    margin-top: 5%;
}
ion-card{
    height: 50%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
ion-label{
    margin-left: auto;
    margin-right: auto;
}
ion-buttons{
    margin-left: auto;
    margin-right: auto;
}