h1{
    font-family: CormorantSC-SemiBold;
    margin-top: 5%;
}
ion-avatar{
    height: 25%;
    width: 40%;
    margin-left: 5%;
}
.info{
    font-family: Montaga-Regular;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    margin-bottom: 15%;
    margin-top:10%;
}