<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About us</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
    <h1>Who We Are</h1>
  </center>
    <ion-avatar>
      <img src="assets/cath.png">
    </ion-avatar>
    <center>
      <span class="info">Catherine D. Beredo</span>
    </center>

</ion-content>
