ion-title{
    font-family: CormorantSC-SemiBold;
    font-size: 25px;
}

h1{
    font-family: CormorantSC-SemiBold;
    margin-top: 5%;
}
p{
    font-family: Montaga-Regular;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    color: black;
}
img{
    height: 30%;
    width: 60%;

}
.right{
    height: 30%;
    width: 60%;
    margin-right: 2%;
    float: right;
    display: block;
}
.info{
    font-family: PlayFairDisplay-VariableFont;
    color: black;
    float: left;
    margin-left: 5%;
    font-size: 15px;
}
.right-info{
    font-family: PlayFairDisplay-VariableFont;
    color: black;
    float: right;
    font-size: 15px;
    margin-right: 5%;
    display: block;
}
.rox
    img{
        height: 45%;
        width: 90%;
}