<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--Mission-->
  <ion-card>
    <ion-card-content>
      <center>
        <h1>Our Mission</h1>
        <p>The Parking Reservation App aims to <br/>
          make parking a lot easier and more <br/>
          efficient throughout Batangas City.<br/>
           We strive to implement the service by <br/>
           cutting down the time spent manually <br/>
           looking for spaces.</p><br/>
      </center>
    </ion-card-content>
  </ion-card>

  <!--Vission-->
  <ion-card>
    <ion-card-content>
      <center>
      <h1>Our Vision</h1>
      <p>To provide a smooth-running<br/>
         reservation in Batangas City <br/>
          with just a few clicks.</p>
      </center>
    </ion-card-content>
  </ion-card>

  <!--Who we are-->
  <ion-card>
    <ion-card-content>
      <center> <h1><b>Our Team</b></h1></center><br/>
      <img src="assets/cath.png"><br/>

      <span class="info">Catherine D. Beredo</span><br/>
      <span class="info">BS Information Technology</span>
      <span class="info"><b><i>Major in Business Analytics</i></b></span><br/><br/><br/>

      <img class="right" src="assets/alex.png"><br/><br/><br/><br/><br/><br/>

      <span class="right-info">Alex Diata</span><br/>
      <span class="right-info">BS Information Technology</span>
      <span class="right-info"><b><i>Major in Business Analytics</i></b></span><br/><br/><br/>

      <img src="assets/angela.png"><br/>

      <span class="info">Angela Verano</span><br/>
      <span class="info">BS Information Technology</span>
      <span class="info"><b><i>Major in Business Analytics</i></b></span><br/><br/><br/>

      <img class="right" src="assets/denise.png"><br/><br/><br/><br/><br/><br/>

      <span class="right-info">Denise Kristina Tesalona</span><br/>
      <span class="right-info">BS Information Technology</span>
      <span class="right-info"><b><i>Major in Business Analytics</i></b></span><br/><br/><br/>

      <img class="rox" src="assets/rox.png"><br/>

      <span class="info">Roxanne Leise Papasin</span><br/>
      <span class="info">BS Information Technology</span>
      <span class="info"><b><i>Major in Business Analytics</i></b></span><br/><br/><br/>
  
    </ion-card-content>
  </ion-card>

  
</ion-content>
