.cath{
    display: inline-block;
    margin-top: 10%;
    margin-left: 5%;
    height: 150px;
    width: 150px;
}

.text{
    display: inline-block;
    text-align: justify;
    vertical-align: top;
    margin-top: 25%;
    margin-left: 8%;

}