<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
 <ion-datetime #datetime>
    <span slot="title"> Choose Your Desired Time & Date</span>
    <ion-buttons slot="buttons">
      <ion-button color="danger" (click)="datetime.reset()">Reset</ion-button>
     <ion-button color="primary" (click)="datetime.cancel()">Cancel</ion-button>
     <ion-button color="primary" (click)="datetime.confirm()">Done</ion-button>
    </ion-buttons>
 </ion-datetime>

</ion-content>
