<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
    <p class="title">Book a Slot</p>
  <img src="assets/SM-map.png"></center>
  
  <ion-list>
    <ion-item>
      <ion-label>
        <span class="park">SM City Batangas West Parking</span>
        <span class="info">Parking Lot</span>
      </ion-label>
    </ion-item>
  </ion-list>
  
  <ion-item lines="none">
    <ion-icon name="location-outline"></ion-icon>
    <ion-label>
      <p>Q348+9VP, Juaning Rd, Batangas</p>
    </ion-label>
  </ion-item>
  
  <ion-item lines="none">
    <ion-icon name="time-outline"></ion-icon>
    <ion-label>
      <p class="open">Open 24 hrs</p>
    </ion-label>
  </ion-item>
  
  <ion-item>
    <ion-icon name="call-outline"></ion-icon>
    <ion-label>
      <p>None</p>
    </ion-label>
  </ion-item>
  
  <center>
    <ion-row>
      <ion-col>
        <ion-button (click)="presentAlert()" color="primary" shape="round"><b>Book</b></ion-button>
      </ion-col>
    </ion-row>
    </center>  
    

</ion-content>
