<ion-header>
  <ion-toolbar color="danger">
    <ion-title>ParkME</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-avatar>
    <img src="assets/anya.jpg">
  </ion-avatar>
  <span class="good">Good day, <br> Anya Forger!</span><br><br>

  
  <span class="body"><b>Find the best parking place</b></span> <br><br>
  <span class="text">Let's start Parking...</span><br>
  <span class="text">Choose the service you want.</span><br>

  <ion-chip outline color="danger">
    <ion-icon (click)="detail()" name="information-circle"></ion-icon>     
    <ion-label>Detail</ion-label>
  </ion-chip>

  <ion-chip outline color="danger">
    <ion-icon (click)="slot()" name="pin"></ion-icon>     
    <ion-label>Book SLot</ion-label>
  </ion-chip>

  <ion-chip outline color="danger">
    <ion-icon (click)="booking()" name="book"></ion-icon>     
    <ion-label>My Booking</ion-label>
  </ion-chip>

  <ion-chip outline color="danger">
    <ion-icon (click)="date()" name="calendar"></ion-icon>     
    <ion-label>Parking Date</ion-label>
  </ion-chip>

  <ion-chip outline color="danger">
    <ion-icon (click)="feedback()" name="star-half"></ion-icon>     
    <ion-label>Feedback</ion-label>
  </ion-chip>

  <ion-card>
    <ion-card-content>
      <img class="first" src="assets/D&D.jfif">
      <h3><b>D & D Parking Space<br>P100/hr</b></h3>
      <h4>Q24V+4MC, villa anita sta clara batangas city p, Batangas</h4>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <img class="first" src="assets/SM.jfif">
      <h3><b>SM Batangas City West Parking<br>P100/hr</b></h3>
      <h4>Q348+9VP, Juaning Rd, Batangas</h4>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <img class="first" src="assets/SM-east.jfif">
      <h3><b>SM Batangas City East Parking<br>P100/hr</b></h3>
      <h4>Q34C+F39, SM Transport Terminal, Batangas</h4>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <img class="first" src="assets/SM-south.jfif">
      <h3><b>SM Batangas City South Parking<br>P100/hr</b></h3>
      <h4>Q339+WR7, Concha Rd, Batangas</h4>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <img class="first" src="assets/SM-north.jfif">
      <h3><b>SM Batangas City SNorth Parking<br>P100/hr</b></h3>
      <h4>Q34C+Q29, Unnamed Road, Batangas</h4>
    </ion-card-content>
  </ion-card>
</ion-content>
