.title{
    font-family: CarterOne-Regular;
    color: #F37878;
    font-size: 40px;
    margin-left: 5%;
}

.body{
    font-family: SpaceGrotesk;
    font-size: 25px;
    color: black;
    margin: 5%;
}

.text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    margin: 5%;
}

.eye{
    margin: 10%;
    font-size: 50px;
}

/** .detail{
    font-size: 25px;
    display: flex;
    margin: 10%;
} */