ion-title{
    font-family: CormorantSC-SemiBold;
    font-size: 25px;
}
.title{
    font-family: CarterOne-Regular;
    color: #F37878;
    font-size: 40px;
    margin-left: 5%;
}

.body{
    font-family: SpaceGrotesk;
    font-size: 25px;
    color: black;
    margin: 5%;
}

.text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    margin: 5%;
}

ion-avatar{
    display:inline-block;
    height: 100px;
    width: 100px;
  margin-top: 5%;
  margin-left:5%;
}
.good{
    font-family: Montaga-Regular;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    margin-bottom: 15%;
    margin-top:10%;
}
ion-chip{
    margin-top: 5%;
    margin-left: 5%;
}

.first{
    display: inline-block;
    height: 80%;
    width: 80;
}
h3{
    font-family: Montaga-Regular;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    margin-top: 10%;
}
h4{
    font-family: Montaga-Regular;
    font-size: 15px;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%; 
}
.open{
    font-family: Montaga-Regular;
    font-size: 15px;
    color: #2dd36f;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%; 
}

.closed{
    font-family: Montaga-Regular;
    font-size: 15px;
    color: #eb445a;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%; 
}
p{
    font-family: Montaga-Regular;
    font-size: 15px;
    color: black;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%; 
}