<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>ParkME</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-avatar>
    <img src="assets/anya.jpg">
  </ion-avatar>
  <span class="good">Good day, <br> Anya Forger!</span><br><br>

  
  <span class="body"><b>Find the best parking place</b></span> <br><br>
  <span class="text">Let's start Parking...</span><br>
  <span class="text">Choose the service you want.</span><br>

  <ion-chip outline color="secondary">
    <ion-icon (click)="detail()" name="information-circle"></ion-icon>     
    <ion-label>Detail</ion-label>
  </ion-chip>

  <ion-chip outline color="secondary">
    <ion-icon (click)="booking()" name="book"></ion-icon>     
    <ion-label>My Booking</ion-label>
  </ion-chip>

  <ion-chip outline color="secondary">
    <ion-icon (click)="date()" name="calendar"></ion-icon>     
    <ion-label>Parking Date</ion-label>
  </ion-chip>

  <ion-chip outline color="secondary">
    <ion-icon (click)="feedback()" name="star-half"></ion-icon>     
    <ion-label>Feedback</ion-label>
  </ion-chip>

  <ion-slides pager="true">
    <ion-slide>
      <ion-card (click)="dandd()">
        <ion-card-content>
          <img class="first" src="assets/D&D.jfif">
          <h3><b>D & D Parking Space<br>P100/hr</b></h3>
          <h4>Q24V+4MC, Villa Anita Sta Clara Batangas City, Batangas</h4>
          <p class="open">Open 24 hours | 09272396199</p>
        </ion-card-content>
      </ion-card>
      </ion-slide>

      <ion-slide>
      <ion-card (click)="sm()">
        <ion-card-content>
          <img class="first" src="assets/SM.jfif">
          <h3><b>SM Batangas City West Parking<br>P100/hr</b></h3>
          <h4>Q348+9VP, Juaning Rd, Batangas</h4><br>
          <p class="open"> Open </p> <p>| Closes 10PM</p>
        </ion-card-content>
      </ion-card>
      </ion-slide>

      <ion-slide>
      <ion-card (click)="bcl()">
        <ion-card-content>
          <img class="first" src="assets/BCL.jfif">
          <h3><b>BCL PAY PARKING<br>P100/hr</b></h3>
          <h4>32 D. Silang, Poblacion 19, Batangas, 4200 Batangas</h4>
          <p class="closed">Closed</p> <p>| Opens 5AM</p>
        </ion-card-content>
      </ion-card>
      </ion-slide>
   
      <ion-slide>
      <ion-card (click)="allesandro()">
        <ion-card-content>
          <img class="first" src="assets/allesandro.jfif">
          <h3><b>Alessandro Pay Parking<br>P100/hr</b></h3>
          <h4>P3MG+6V8, Sitio Gitna San Isidro Batangas City, 4200 Batangas</h4>
          <p class="open">Open </p> <p>| Closes 10PM</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>
