<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons class="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ParkME</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <span class="title">ParkME</span><br><br>
  
  <span class="body"><b>Find the best parking place</b></span> <br><br>
  <span class="text">Let's start Parking...</span><br>
  <span class="text">Choose the service you want.</span>


</ion-content>
