<<ion-app>
  <ion-menu menuId="main-menu" content-id="main" side="end">
    <ion-header>
      <ion-toolbar>
        <ion-title>ParkME</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-
        </ion-item>

        <ion-item>
          <ion-menu-toggle>
            <ion-button color="danger">Close</ion-button>
          </ion-menu-toggle>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
>