<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons>
    <ion-title>Sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <!--Firstname-->
    <ion-item lines="full">
      <ion-label position="floating"><b>Firstname:</b></ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <!--Lastname-->
    <ion-item lines="full">
      <ion-label position="floating"><b>Lastname:</b></ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <!--Email-->
    <ion-item lines="full">
      <ion-label position="floating"><b>Email:</b></ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>
    <!--Password-->
    <ion-item lines="full">
      <ion-label position="floating"><b>Password:</b></ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <!--Confirm password-->
    <ion-item lines="full">
      <ion-label position="floating"><b>Confirm Password:</b></ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <!--signup button-->
    <ion-row>
      <ion-col>
        <ion-button (click)="login()" type="submit" color="danger" expand="block"><b>Sign up</b></ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
