<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <!--Firstname-->
    <ion-item lines="full">
      <ion-label position="floating">Firstname:</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <!--Lastname-->
    <ion-item lines="full">
      <ion-label position="floating">Lastname:</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <!--Email-->
    <ion-item lines="full">
      <ion-label position="floating">Email:</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>
    <!--Password-->
    <ion-item lines="full">
      <ion-label position="floating">Password:</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <!--Confirm password-->

    <!--signup button-->
    <ion-row>
      <ion-col>
        <ion-button (click)="login()" type="submit" color="danger" expand="block">Signup</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
