<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card">
    <ion-card-content>
      <center>
        <ion-avatar>
          <img src="assets/anya.jpg">
        </ion-avatar>
      </center>
      
      <span class="info">
        <b>Name:</b> 
        <span class="subinfo"> Anya Forger</span>
      </span><br/>

      <span class="info">
      <b>Address:</b> 
        <span class="subinfo"> 128 Park Avenue</span>
      </span><br/>

      <span class="info">
      <b>Contact Number:</b> 
        <span class="subinfo"> 091-234-56789</span>
      </span><br/>

      <span class="info">
      <b>Emergency Contact:</b> 
        <span class="subinfo"> 099-876-5432</span>
      </span>
      </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-slides pager="true">
      <ion-slide>
        <ion-card-content>
          <img src="assets/Audi-a3.png">
          <span class="vehicle"><b>Vehicle Type:</b></span>
          <span class="vinfo"> Small Family Car</span> <br/>

          <span class="vehicle"><b>Vehicle Model:</b></span>
          <span class="vinfo"> Audi A3</span> <br/>

          <span class="vehicle"><b>Vehicle Plate Number:</b></span>
          <span class="vinfo"> TGF 338</span>

        </ion-card-content>
      </ion-slide>

      <ion-slide>
        <ion-card-content>
          <img class="mazda" src="assets/mazda-cx5.png"><br/><br/>
          <span class="vehicle"><b>Vehicle Type:</b></span>
          <span class="vinfo"> Compact Crossover SUV</span> <br/>

          <span class="vehicle"><b>Vehicle Model:</b></span>
          <span class="vinfo"> Mazda CX5</span> <br/>

          <span class="vehicle"><b>Vehicle Plate Number:</b></span>
          <span class="vinfo"> NCI 456</span>

        </ion-card-content>
      </ion-slide>

    </ion-slides>
  </ion-card>
  

</ion-content>
