.card{
    margin-top: 20%;
}
.anya{
    display:block;
    margin-bottom: 2%;
    margin-top: 10%;
    margin-left: 5%;
    height: 150px;
    width: 150px;
}

.info{
display: inline-block;
margin-top: 5%;
margin-left: 5%;
margin-right: 5%;
margin-bottom: 5%;
}
.subinfo{
display: inline-block;
}