<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card" color="pastel">
    <ion-card-component>
      <img src="assets/anya.jpg" class="anya">
      
      <span class="info">
        <b>Name:</b> 
        <span class="subinfo"> Anya Forger</span>
      </span><br/>

      <span class="info">
      <b>Address:</b> 
        <span class="subinfo"> 128 Park Avenue</span>
      </span><br/>

      <span class="info">
      <b>Contact Number:</b> 
        <span class="subinfo"> 091-234-56789</span>
      </span><br/>

      <span class="info">
      <b>Emergency Contact:</b> 
        <span class="subinfo"> 099-876-5432</span>
      </span><br/>

      <span class="info">
        <b>Vehicle Type:</b> 
          <span class="subinfo">Small Family Car</span>
        </span><br/>

        <span class="info">
          <b>Vehicle Model:</b> 
            <span class="subinfo">Audi A3</span>
          </span><br/>

          <span class="info">
            <b>Vehicle Plate Number:</b> 
              <span class="subinfo">TGF 338</span>
            </span>
          </ion-card-component>
  </ion-card>
  

</ion-content>
