.card{
    margin-top: 20%;
}

.info{
font-family: Montaga-Regular;
font-size: 18px;
display: inline-block;
margin-top: 5%;
margin-left: 5%;
margin-right: 5%;
margin-bottom: 3%;
}
.subinfo{
display: inline-block;
font-family: Montaga-Regular;
font-size: 23px;
}
ion-avatar{
    display:inline-block;
    height: 200px;
    width: 200px;
  margin-top: 5%;
  margin-left:5%;
}