<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Request</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card">
    <ion-header>
          <ion-card-component>
            <ion-item>
              <ion-label position="floating"><b>To:</b></ion-label>
              <ion-input type="text"></ion-input>
              </ion-item>
            <ion-item>
              <ion-label position="floating"><b>Subject:</b></ion-label>
              <ion-input type="text"></ion-input>
              </ion-item>
            <ion-item>
              <ion-label position="stacked"><b>Message:</b></ion-label><br/><br/><br/>
              <ion-input type="text"></ion-input>
              </ion-item>
            <center>
            <ion-row>
              <ion-col>
                <ion-button (click)="presentAlert()" color="danger" shape="round"><b>Send</b></ion-button>
              </ion-col>
            </ion-row>
            </center>   
          </ion-card-component>
          </ion-header>
        </ion-card>   
</ion-content>
