<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
  <p class="title">Book a Slot</p>
<img src="assets/D&D-map.png"></center>

<ion-list>
  <ion-item>
    <p class="park">D and D Parking Space</p>
    <span class="info">Parking Garage</span>
  </ion-item>

  <ion-item>
    <ion-icon name="pin">
      <ion-label>Q24V+4MC, villa anita sta clara batangas city p, Batangas</ion-label>
    </ion-icon>
  </ion-item>
</ion-list>
  
</ion-content>
