.card-title{
    margin-left: 0%;
    margin-right: 2%;
    font-family: DancingScript;
    font-size: 33px;
}

.card-text{
    margin-left: 2%;
    margin-right: 2%;
    display: inline-block;
    font-family: Montaga-Regular;
    font-size: 18px;
    color: black;
}