<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="form" [fullscreen]="true" color="cream">
  <center>
    <ion-icon class="car" name="car" color="dark">
    </ion-icon>
  <span class="title">ParkMe</span><br><br>
  <span class="Welcome">WELCOME!</span><br><br><br>


  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button class="click" [routerLink]="['/signup']" expand="block" color="lightpink">Signup</ion-button>
        <span class="divider line one-line">or</span>
        <span class="already">Already a user?</span>
        <ion-button class="click" [routerLink]="['/login']" expand="block" color="lightpink">Login</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </center>
</ion-content>
